<ion-header [translucent]="true">
  <img class="logo" src="\assets\logo\Duoc Uclass.png" alt="">
</ion-header>

<ion-content>
  <div class="container mt-4">
    <h2 class="text-center mb-4">Clases del {{ cursoNombre }}</h2>

    <ion-list *ngIf="clases.length > 0; else noClases">
      <ion-item *ngFor="let clase of clases; let i = index" lines="none">
        <ion-label>
          <h3><strong>Clase {{ i + 1 }}</strong></h3>
          <p><strong>Fecha:</strong> {{ clase.fecha }}</p>
          <p><strong>Desde:</strong> {{ clase.hora_inicio }} <br> 
            <strong>Hasta:</strong> {{ clase.hora_termino }} <br> 
          </p>
        </ion-label>

        <!-- Contenedor para los botones, asegurándose de que estén debajo -->
        <div class="button-container">
          <ion-button class="action-btn" (click)="verAsistenciaClase(idCurso, clase.codigo_web)">
            <ion-icon name="person-outline"></ion-icon>
            <ion-label>Ver Asistencia</ion-label>
          </ion-button>
          <ion-button class="action-btn" (click)="generarQr(clase.codigo_web)">
            <ion-icon name="qr-code-outline"></ion-icon>
            <ion-label>Generar QR</ion-label>
          </ion-button>
        </div>
      </ion-item>
    </ion-list>

    <ng-template #noClases>
      <ion-item>
        <ion-label>
          <h3>No hay clases disponibles para este curso.</h3>
        </ion-label>
      </ion-item>
    </ng-template>
  </div>
</ion-content>

<ion-tab-bar slot="bottom">
  <ion-tab-button tab="home" routerLink="/asignaturas-profesor">
    <ion-icon name="arrow-back-outline"></ion-icon>
    <ion-label>Volver</ion-label>
  </ion-tab-button>
</ion-tab-bar>
