:root {
  --primary-bg-light: #f9f9f9;
  --primary-bg-dark: #121212;
  --input-bg-light: #ffffff;
  --input-bg-dark: #333333;
  --button-bg-light: #007bff;
  --button-bg-dark: #444;
  --text-light: #fff;
  --text-dark: #121212;
  --border-color-light: #ddd;
  --border-color-dark: #444;
  --hover-color: #0056b3;
}

h4 {
  text-align: center;
  margin-top: 8px;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#container {
  text-align: center;
  padding: 20px;
}

.logo {
  width: 100px;
  background-color: transparent;
}

ion-title {
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}

ion-list {
  margin-top: 20px;
  --background: transparent;
}

ion-item {
  background-color: var(--input-bg-light);
  border: 1px solid var(--border-color-light);
  margin-bottom: 16px;
  border-radius: 8px;
}

ion-input,
ion-textarea {
  --padding-start: 16px;
}

ion-button {
  width: 100%; /* Establece el ancho al 100% para ocupar todo el espacio */
  height: 40px;
  border-radius: 8px;
  background-color: var(--button-bg-light);
  color: #fff;
  margin-bottom: 16px; /* Agrega espacio entre los botones */
}

ion-button:hover {
  background-color: var(--hover-color);
}

.dark-mode ion-button {
  background-color: var(--button-bg-dark);
}

.dark-mode ion-button:hover {
  background-color: var(--hover-color);
}

.Volver-btn ion-button {
  width: 100%; /* Establece el ancho al 100% para ocupar todo el espacio */
  margin-top: 20px;
  background-color: var(--button-bg-light);
}

.dark-mode .Volver-btn ion-button {
  background-color: var(--button-bg-dark);
}

.dark-mode .Volver-btn ion-button:hover {
  background-color: var(--hover-color);
}

ion-label {
  color: var(--text-dark);
}

.dark-mode ion-label {
  color: var(--text-light);
}
